#footer {
    background: linear-gradient(90deg, #19051b, #442747 25%, #d000fa);
    color: white;
}

#footer a {
    color: white;
}

#header img {
    width: 80px;
}

.link-important {
    color: #97c983 !important;
}